.title {
	-fx-font: 50px verdana;
	-fx-fill: black;
}

.itemAboutGrid {
	-fx-hgap: -0.5;
	-fx-vgap: -0.5;
}



.gridCellNode {
	-fx-background-insets: 0;
    -fx-padding: 0 10 0 0;
	-fx-pref-width: 100px;
	-fx-border-color: black;
	-fx-alignment: center-right;
}

.gridCellNode-2wide {
	-fx-background-insets: 0;
    -fx-padding: 0;
	-fx-pref-width: 200px;
	-fx-border-color: black;
	}

.gridCellNode-3wide {
	-fx-background-insets: 0;
    -fx-padding: 0;
	-fx-pref-width: 300px;
	-fx-border-color: black;
}

.num-button {
	-fx-pref-width: 100px;
	-fx-pref-height: 80px;
}

.paymentNode {
	-fx-pref-width: 70px;
	-fx-pref-height: 80px;
}

.paymentNode-3wide {
	-fx-pref-width: 213px;
	-fx-pref-height: 80px;
}

.receiptNode-4wide {
	-fx-pref-width: 297px;
	-fx-alignment: center;
}

.receiptNode-2wide-left {
	-fx-pref-width: 150px;
	-fx-alignment: center-right;
	-fx-padding: 0 10 0 0;
}

.receiptNode-2wide-right {
	-fx-pref-width: 150px;
	-fx-alignment: center-left;
	-fx-padding: 0;
}

.receiptNode {
	-fx-pref-width: 74px;
	-fx-alignment: center;
}

.receiptItem {
	-fx-pref-width: 74px;
	-fx-alignment: center-left;
	-fx-padding: 0 0 0 10;
	
}

.receiptPrice {
	-fx-pref-width: 75px;
	-fx-alignment: center-right;
	-fx-padding: 0 2 0 0;
}

.signInPane {
	-fx-fill: red;
	-fx-stroke: black;
	-fx-stroke-width: 5;
	-fx-background-color: silver;
	-fx-padding: 30 30;
}

.signInNode {
	-fx-alignment: center-left;
	
}





